@charset "UTF-8";

/* 전체 영역 */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* 헤더 로고, 회원가입. 로그인 영역 */
#top_header {
	width: 100%;
	height: 100px;
	height: 80px;
	transition: background 0.6s;
}

/* 헤더 로고 */
#top_header .logo {
	float: left;
	width: 150px;
	height: 100px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 2px;
}

/** 헤더영역 탑 메뉴**/
#top_header .lnb {
	float: right;
	margin-right: 35px;
	list-style-type: none;
}

#top_header .lnb li {
	float: left;
	margin-left: 35px;
	
}

#top_header .lnb a {
	font-size: 18px;
	text-decoration: none;
	color: #333;
}

#top_header .lnb li a:hover {
	color: #0099a5;
}

/* 헤더 부분이 나즁에 .gnb영역을 만났을 때 헤더를 fixed로 고정*/
.gnb.fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 5px;
	border-bottom-color: #32A5B4;
	border-bottom-style: solid;
	padding-left: 100px;
	background: white;
	z-index: 9999;
}
/* .gnb영역 */
.gnb {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-bottom: 5px;
	border-bottom-color: #32A5B4;
	border-bottom-style: solid;
}

/* .gnb메뉴 항목 */
header .gnb .gnb_group {
	font-size: 0;
	line-height: 0;
	background: white;
}

/* .gnb메뉴 항목들 */
header .gnb .gnb_group .gnb_box {
	display: inline-block;
	vertical-align: top;
	width: 13%;
	padding: 20px 0 20px 5px;
	text-align: center;
}

/* 헤더메뉴 메뉴항목 텍스트*/
header .gnb .gnb_group .gnb_box .gnb_title {
	font-size: 1.5vw;
	font-weight: bold;
	font-family: "돋움", dotum, sans-serif;
	color: #333;
	text-decoration: none;
	padding: 10px 15ps;
	margin: 0 8px;
}

/* <a>태그 영역에 마우스를 올렸을 때 */
header .gnb .gnb_group .gnb_box .gnb_title:hover {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	color: #32A5B4;
}

/* ---------------------------------------  */
/* sidebar 영역 */

#floatMenu {
	position: absolute;
    width: 10%;
    height: 200px;
    right: 0;
    top: 280px;
    color: #fff;
    z-index: 99999999;
}

/* 테이블 logo 영역 */
.floatCenter {
	padding: 0px 35px;
	list-style-type: none;
}

/* ---------------------------------------  */
/* section 영역 */
/* bx 슬라이더 영역 */
.slider{text-align: center}/* 소개글 이미지 센터로 */
.slider div img { width:100%; height:590px;}

.dogslider{text-align: center; width:100%;}
.dogslider img:hover{ transform:scale(1.1);}/* 마우스 호버 시 크기 확장 */ 
 	
 																
.bx-wrapper{position: relative; } /* 부모 위치 */
.bx-controls-direction{font-size:70px;}/* 이전,다음 버튼의 크기 */
.bx-controls-direction a{position:absolute; top:50%; display:block; width:70px; 
height:80px; overflow:hidden; transform:translateY(-50%); color:#ccc; font-weight:normal; }/* 이전,다음 버튼의 위치 */


.bx-controls-direction .bx-prev{ left:0%;}/* 이전 버튼  위치*/
.bx-controls-direction .bx-next{ right:0%;}/* 다음 버튼  위치*/

.bx-controls-direction .bx-prev:before{ content:"\e93d";font-family:'xeicon';}/* 이전 버튼 */
.bx-controls-direction .bx-next:before{ content:"\e940";font-family:'xeicon';}/* 다음 버튼 */
 
 
 .bx-pager{position: absolute; left:0; bottom:-20px; width:100%; text-align: center;}/* 밑의 페이징 */
 .bx-pager div{ display: inline-block; padding: 0 5px;} /* 인라인블락요소라서 좌우로 5px */
 .bx-pager div a{ display:block; font-size: 0; color: transparent; width:24px; height:3px; background: #ccc;}
 .bx-pager div a.active{ background: #000;}
/* 여기까지 bx슬라이더 */


/* div전체 영역 */
.section {
	line-height: 67px;
    text-align: center;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    
	 
}
	
/* 입양안내 */ 
.section_img { 
 	height: 700px;
 	width: 80%; 
 
 } 

.dog_title01 {
	position: relative;
	display: inline-block;
	left: -433px;
	top: 20px;
	
}
.dog_title01 h2{
	margin: 0;
}

/* ---------------------------------------  */

/* footer 영역 */
#footer {
	height: 140px;
	background: #272424e8;
	color: #fff;
}

/* 푸터 영역1 */
#footer .inner .addr {
	float: left;
	font-style: normal;
	width: 100%;
	padding-top: 15px
}
/* 푸터 영역2 */
#footer .inner .copy {
	float: left;
	width: 100%;
	padding-top: 20px;
}
/* 푸터 로그인, 회원가입 영역 */
#footer .inner .social {
	float: right;
	margin-right: 25px;
	margin-top: -90px;
	list-style-type: none;
}

#footer .inner .social li {
	float: left;
	margin-left: 25px;
	top: 19px;	
}
#footer .inner .social li a {
	text-decoration: none;
}
#footer .inner .social li a img {
	height: 38px;
	width: 38px;
}






